name : Demo Virtual Machine
on:
  push:
    branches: [main]
    
jobs:
  build:
    name: Virtual Machine
    runs-on: ubuntu-latest
    steps:
    - name: checkout my codes
      uses: actions/checkout@v2
    - name: Setup Go environment
      uses: actions/setup-go@v3.5.0
      with:
        # The Go version to download (if necessary) and use. Supports semver spec and ranges.
        go-version: 1.19.3 # optional
        
    - name: Install dependencies for GO
      run: |
        go get github.com/franela/goblin 
        go install gotest.tools/gotestsum@latest
        go test -v
        go test -v | gotestsum --junitfile report.xml
        ls 
        
    - if: ${{ failure()}}
      uses: dacbd/create-issue-action@main
      with:
        token: ${{ github.token }}
        title: Action workflow failed.
        body: |
          ### Context
          [Failed Run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
          [Codebase](https://github.com/${{ github.repository }}/tree/${{ github.sha }})
          Workflow name - `${{ github.workflow }}`
          Job -           `${{ github.job }}`
          status -        `${{ job.status }}`
        assignees: ZevQuek
    - uses: yanzay/notify-telegram@v0.1.0
      with:
        chat: ${{ secrets.chat }} # user id or channel name secret
        token: ${{ secrets.tgtoken }} # token secret
        status: ${{ job.status }} # do not modify this line

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v2
      if: always()
      with:
        junit_files: "report.xml" 
